@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alex+Brush&family=Alice&family=Dangrek&family=Fira+Code:wght@300;500&family=Montserrat+Alternates:wght@300&family=Source+Sans+Pro&family=Ubuntu:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #111;
    height: 100vh;
    font-family: 'Fira Code', monospace;
}
.animation{
    height: 345px;
    width: 400px;
    background-color: transparent;
    margin: auto;
    position: relative;
}
.content{
    position: relative;
    height: 200px;
    width: 100%;
}
.menu{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    position: absolute;
}
h2{
    color: white;
    font-size: 35px;
    text-align: center;
}
p a{
    text-decoration: none;
    color: white;
    transition: .5s;
}
p a:hover{
    color: #139cff;
    background: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: 100;
    border-bottom: 1px solid #139cff;
}
.menu a:nth-child(2) i{
    color: #4267B2;
}
.menu a:nth-child(3) i{
    color: #D63341;
}
p{
    font-family: 'CharukolaUltraLight', sans-serif;  
}
.menu a{
    list-style: none;
    text-decoration: none;
    color: white;
    float: left;
    width: 180px;
    height: 85%;
    border-radius: 30px;
    background: rgb(28, 28, 28);
    cursor: pointer;
    margin-left: 66px;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    transition: .5s;
}
a:nth-child(1) {
    margin-left: 0;
}
a:hover{
    color: black;
    background: white; 
    box-shadow: 0 0 25px whitesmoke, 0 0 30px gray, 0 0 20px rgb(61, 61, 61);
}
a:hover {
    color: black;
    font-weight: 700;
}
ul{
    height: 70px;
    margin: auto;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
}

p {
    text-align: center;
    color: white;
    margin: auto;
    width: 54%;
    padding: 32px 32px;
  }
i{
    margin-right: 10px;
}
@media (max-width: 1250px){
    p{
        width: 494px;
        font-size: 14px;
        margin: 0 auto;
        padding: 20px;
    }
    h2{
        font-size: 25px;
    }
    ul{
        width: 100%;
    }
    .menu a{
    float: left;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media (max-width: 690px){
    .animation{
        height: 350px;
        width: 350px;
    }
    ul{
        width: 100%;
    }
    .menu a{  
    float: left;
    font-size: 14px;
    display: flex;
    width: 140px;
    height: 42px;
    align-items: center;
    justify-content: center;
    }
    p{
        width: 420px;
    }
}
@media (max-width: 570px){
    .menu a{  
        margin-left: 10px;
    }
}
@media (max-width: 450px){
    .animation{
        height: 300px;
        width: 300px;
    }
    p{
        width: 294px;
        font-size: 12px;
        margin: 0 auto;
        padding: 20px;
    }
    h2{
        font-size: 20px;
    }
    ul{
        width: 100%;
    }
    .menu a{
    float: left;
    width: 76px;
    height: 42px;
    border-radius: 20px;
    margin-left: 23px;
    font-size: 17px;
    display: flex;
    align-items: center;
        justify-content: center;
        
    }
    a li span{
        display:none;
    }
}