@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alex+Brush&family=Alice&family=Dangrek&family=Fira+Code:wght@300;500&family=Montserrat+Alternates:wght@300&family=Source+Sans+Pro&family=Ubuntu:wght@300&family=Unica+One&display=swap');



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}

.heading h1 {
    font-size: 25.5px;
    font-weight: 100;    font-family: 'Unica One', cursive;
    color: white;
  }
.second{
    height: 780px;
}

.heading {
    height: 13%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.heading h1{
    font-size: 25.5px;
    font-weight: 100;
}


.all{
    height: 80%;
    width: 80%;
    margin: auto;
}

.cut-img{
    width: 40%;
    height: 60%;
    float: left;
    margin-top: 0;
    margin-left: 7%;
}
.cut-img img{
    height: 358px;
}
.form{
    height: 100%;
    width: 52%;
    float: left;
}
div#first, div#second {
    height: 70%;
    width: 50%;
    float: left;
}
div#first, div#second {
    height: 50%;
    width: 50%;
    float: left;
    margin-top: 12%;
}

label#name-label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    padding: 0%;
    margin-left: 11%;
    margin-top: 22px;
    font-family: 'Fira Code', monospace;
}



.form-control {
    display: block;
    width: 69%;
    height: 2.0rem;
    padding: 0.375rem 1.50rem;
    background-color: transparent;
    margin-left: 9%;
    color: white;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
div#first p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    padding: 0%;
    margin-left: 11%;
    margin-top: 22px;
    font-family: 'Fira Code', monospace;
}
div#second p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    padding: 0%;
    margin-left: 11%;
    margin-top: 22px;
    font-family: 'Fira Code', monospace;
}

.input-textarea {
    display: block;
    width: 69%;
    height: 14.0rem;
    padding: 0.375rem 1.50rem;
    color: #495057;
    background-color: transparent;
    margin-left: 9%;
    color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::placeholder {
    color: white;
}
.button {
    height: 7%;
    float: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

button#submit {
    height: 100%;
    width: 34%;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    transition: .6s;
}
button#submit:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


/*For upload files==============================*/


.filess{
    display: none;
}
.labelOfFiles{
    color: white;
    height: 3rem;
    width: 250px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid white;
    border-radius: 27px;
    margin-bottom: 25px;
    cursor: pointer;
}


@media (max-width: 925px){
    
    .cut-img{
        display: none;
    }
    .all{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form {
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 450px){
    body{
        height: 1000px;
    }
    div#first, div#second{
        float: none;
        width: 100%;
        margin-top: 0%;
    }
}